<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/write1" method="post">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="이름" name="writer">
        </div>
        <div class="col">
          <input type="title" class="form-control" placeholder="제목" name="title">
        </div>
      </div>
      <label for="comment"></label>
      <textarea class="form-control" placeholder="내용" name="content"></textarea>
      <button type="submit" class="btn btn-outline-primary">완료</button>
    </form>
</body>
</html>